<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.Targets.MauiLog" />
	</extensions>
	<targets>
		<target name="mauilog" type="MauiLog" />
		<target name="jsonFile" xsi:type="File" fileName="c:\temp\nlog-json-nested-${shortdate}.log" archiveNumbering="DateAndSequence" archiveAboveSize="1000000" keepFileOpen="true">
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout">
						<attribute name="type" layout="${exception:format=type}" />
						<attribute name="message" layout="${exception:format=message}" />
					</layout>
				</attribute>
				<attribute name="memberName" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
				<attribute name="appVersion" layout="${assembly-version:name=Practice}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="jsonFile" />
		<logger name="*" minlevel="Trace" writeTo="mauilog" />
	</rules>
</nlog>